<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
	<head>
		<title>CSCI5308 - Group Formation Tool</title>
		<style>
			table, th, td {
  				border: 1px solid black;
			}
</style>
	</head>
	<body>
		<!-- I got the idea for how to do this from https://www.thymeleaf.org/doc/articles/springsecurity.html -->
	  	<div sec:authorize="isAuthenticated()">
	       <h4 th:inline="text">BannerID: [[${#httpServletRequest.remoteUser}]]</h4>
	       <form th:action="@{/logout}" method="post">
	           <input type="submit" value="Sign Out"/>
	       </form>
		</div>
		<br/>
		<p>
			This tool allows you to manage your questions for surveys.
		</p>
        <br/>
        <a th:href="@{/course/deletequestion}">Delete Questions</a>
        <br/>
        <a th:href="@{/course/cratequestion}">Create Questions</a>
        	<div>
		
		<h3>List of Question Titles</h3>
		<a th:href="@{/course/sortbytitle}"><button>Sort by title</button></a>
		<a th:href="@{/course/sortbydate}"><button>Sort by Date</button></a>
		<br />
		<table>
			<thead>
				<br />
				<tr>
					<th>Title</th>
					<th>Date-Created</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${displayQuestions.empty}">
					<td colspan="2">No Questions Available</td>
				</tr>
				<tr th:each="question : ${displayQuestions}">
					<td><span th:text="${question.title}"> Title </span></td>
					<td><span th:text="${question.dateCreated}"> Date Created </span></td>
				</tr>
			</tbody>
		</table>
	</div>

	</body>
</html>