<div th:fragment="links">
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</div>

<div th:fragment="headerNav">
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="navbar-header">
				<span class="navbar-brand">Group Formation Tool</span>
			</div>

		</div>
	</nav>

</div>


<!-- <div th:fragment="header">
	<nav class="navbar navbar-dark">
		<div class="navbar-header">
			<span class="navbar-brand">Group Formation Tool</span>
		</div>

	</nav>
</div> -->