<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Reset Password</title>
</head>
<body>
	<div th:replace="fragments/links ::links" style="display: none;">
	</div>
	<div th:replace="fragments/links ::headerNav">
	</div>
	<div class="container py-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-7 d-flex justify-content-center mx-auto">
					<div class="card w-75">
						<h4 class="card-header">Reset Password</h4>
						<div class="card-body">
							<form th:action="@{/OTPgenerate}" th:object="${resetPassword}"
								method="post">
								<div class="form-group">
									<input type="text" th:field="*{bannerID}" class="form-control"
										id="banner_id" pattern="[Bb][0-9]{8}" placeholder="BannerID">
								</div>

								<div class="row">
									<div class="col">

										<div class="row justify-content-center">
											<button class="btn btn-dark">Generate OTP</button>
										</div>
										<!-- <input type="submit" value="Generate OTP"> -->
									</div>
								</div>
							</form>

						</div>
					</div>


				</div>
			</div>
			<br> <br> <br>
			<div class="row justify-content-center">
				<div class="col-7 d-flex justify-content-center mx-auto">
					<div class="card w-75">

						<div th:if="${'notExist' == resetPassword.checkEmail}">
							Invalid BannerId. Register if you are a new user<br>
							<div class="row justify-content-center">
								<button class="btn btn-primary">Sign up</button>
							</div>
						</div>


					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>