<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Page Group2</title>
</head>
<body>
	<div th:replace="fragments/links ::links" style="display: none;">
	</div>
	<div th:replace="fragments/links ::headerNavWoLog"></div>


	<div class="container py-5">
		<div class="row">

			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col d-flex justify-content-center mx-auto">
						<div class="card text-white bg-primary">
							<h4 class="card-header">Welcome to Group Formation Tool</h4>
							<div class="card-body">
								<div class="row justify-content-center">
									<div class="col-6">
										<a href="/register" class="btn btn-primary">Sign Up</a>
									</div>
									<div class="col-6">
										<a href="/login" class="btn btn-primary">Login</a>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>




</body>
</html>