<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catme</title>
    <style>
        .table{
            margin: auto;
            width: 70% !important;
        }
        .course_list_form{
            margin-top: 140px;
        }

    </style>
</head>
<body>
    <div th:replace="fragments/links ::headerNav"></div>

<form class="course_list_form">
    <table class="table table-striped table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Course Number</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courseList}">
            <td><a th:href="@{'/taEnrollment/' + ${course.courseId}} + '/' + ${token}" th:text="${course.courseId}"></a></td>
            <td th:text="${course.courseName}"></td>
            <td th:text="${course.courseDesc}"></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>